<nav aria-label="Global" id="navbar" class="fixed w-full top-0 z-50 transition-all duration-300 bg-transparent flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
        <a href="{% url "home" %}" class="-m-1.5 p-1.5">
        <span class="text-2xl font-bold text-yellow-400 lowercase">Occavue</span>
        </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
        <a href="{% url "organizer-dashboard" %}" class="text-sm/6 font-semibold text-yellow-400">Dashboard</a>
        <a href="{% url "create_event" %}" class="text-sm/6 font-semibold text-yellow-400">Create Event</a>
        <a href="{% url "category" %}" class="text-sm/6 font-semibold text-yellow-400">Category</a>
        <a href="{% url "participants" %}" class="text-sm/6 font-semibold text-yellow-400">Participants</a>
    </div>
    <div class="flex lg:flex-1 lg:justify-end">
        <div class="flex lg:hidden">
            <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <button type="button" class="relative rounded-full p-1 ml-3 text-gray-400 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-yellow-500">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="#FFD700" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
            <path d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>

        <button class="z-50 ml-3 relative flex rounded-full focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <div class="flex justify-center items-center text-yellow-50 font-semibold size-8 rounded-full bg-gray-800 outline outline-1 -outline-offset-1 outline-white/10">M</div>
        </button>
    </div>
</nav>
<el-dialog>
    <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
        <div tabindex="0" class="fixed inset-0 focus:outline-none">
        <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-100/10">
            <div class="flex items-center justify-between">
                <a href="{% url "home" %}" class="-m-1.5 p-1.5">
                    <span class="text-2xl font-bold text-yellow-400 lowercase">Occavue</span>
                </a>
                <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-200">
                    <span class="sr-only">Close menu</span>
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                    <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                </div>
                <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-white/10">
                    <div class="space-y-2 py-6">
                        <a href="{% url "organizer-dashboard" %}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-yellow-400 hover:bg-white/5">Dashboard</a>
                        <a href="{% url "create_event" %}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-yellow-400 hover:bg-white/5">Create Event</a>
                        <a href="{% url "category" %}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-yellow-400 hover:bg-white/5">Category</a>
                        <a href="{% url "participants" %}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-yellow-400 hover:bg-white/5">Participants</a>
                    </div>
                </div>
            </div>
        </el-dialog-panel>
        </div>
    </dialog>
</el-dialog>