{% extends "base.html" %}
{% load static %}
{% block title %}Sign In{% endblock title %}Sign In
{% block content %}
    <div class="bg-yellow-50">
        <div class='w-full md:w-1/2 mx-auto py-32 px-5'>
            <h1 class="text-2xl font-bold text-yellow-950 flex justify-center items-center">Sign In</h1>
            <div class="-z-50 -translate-y-4 flex justify-center items-center">
                <img src="{% static 'Images/party_garland.svg' %}" class="w-[250px] h-auto -hue-rotate-30" alt="icon">
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="mb-2 px-2 py-2 {% if message.tags == 'error' %} bg-rose-100 text-rose-700 rounded {% endif %} ">{{message}}</div>
                {% endfor %}
            {% endif %}
            <form method='POST'>
                {% csrf_token %}
                {% for field in form %}
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <label class="text-yellow-900 font-semibold" for="{{ field.id_for_label }}"> {{field.label}} </label>
                        {{ field }}
                        {% if field.errors %}
                                <ul class="pb-2">
                                    {% for error in field.errors %}
                                    <li class="text-red-500 text-sm">{{error}}</li>
                                    {% endfor %}
                                </ul>
                        {% endif %}
                    </div>
                </p>
                {% endfor %}
                <button class="bg-yellow-700 px-4 py-2 rounded text-white mt-10 mx-20" type="submit">Sign In</button>
            </form>
    </div>
{% endblock content %}