{% extends "base.html" %}
{% load static %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="bg-yellow-50">
    <div class="w-full md:w-1/2 mx-auto py-32 px-5">
        <h1 class="text-2xl font-bold text-yellow-950 flex justify-center items-center">Sign In</h1>

        <div class="-z-50 -translate-y-4 flex justify-center items-center">
            <img src="{% static 'Images/party_garland.svg' %}" class="w-[250px] h-auto -hue-rotate-30" alt="icon">
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="mb-2 px-2 py-2 rounded 
                    {% if message.tags == 'success' %} bg-green-100 text-green-700 
                    {% else %} bg-rose-100 text-rose-700 {% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="flex flex-col gap-1 mb-4">
                    <label class="text-yellow-900 font-semibold" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="pb-2">
                            {% for error in field.errors %}
                                <li class="text-red-500 text-sm">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="flex justify-center mt-10">
                <button type="submit" class="w-full bg-yellow-700 py-2 mx-10 rounded text-white font-bold hover:bg-yellow-800 transition">
                    Sign In
                </button>
            </div>
        </form>

        <p class="mt-4 text-center">
            <a href="{% url 'password_reset' %}" class="text-yellow-600 hover:text-yellow-400">
                Forgot Password?
            </a>
        </p>
    </div>
</div>
{% endblock content %}
