<nav aria-label="Global" id="navbar" class="fixed w-full top-0 z-50 transition-all duration-300 bg-transparent flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
        <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
        <span class="text-4xl font-bold text-yellow-400 capitalize lavishly-yours-regular">Occavue</span>
        </a>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
        <a href="{% url 'admin-dashboard' %}" class="text-yellow-400 hover:text-yellow-200">Dashboard</a>
        <a href="{% url 'events-list' %}" class="text-yellow-400 hover:text-yellow-200">Events</a>
        <a href="{% url 'category' %}" class="text-yellow-400 hover:text-yellow-200">Categories</a>
        <a href="{% url 'participants' %}" class="text-yellow-400 hover:text-yellow-200">Participants</a>
        <a href="{% url 'group-list' %}" class="text-yellow-400 hover:text-yellow-200">Groups</a>
    </div>

    <div class="flex lg:flex-1 lg:justify-end">
        <div class="flex lg:hidden">
        <button id="menu_toggle" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
            <span class="sr-only">Open main menu</span>
            <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
        </button>
        </div>
        <button type="button" class="w-10 h-10 flex justify-center items-center relative rounded-full p-1 ml-3 text-gray-400 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-yellow-500">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg viewBox="0 0 24 24" fill="none" stroke="#FFD700" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
            <path d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <button id="user-menu-button" class="z-50 ml-3 relative flex rounded-full focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <div class="p-0 flex text-center items-center justify-center text-yellow-50 font-semibold w-10 h-10 rounded-full bg-gray-800 outline outline-1 -outline-offset-1 outline-white/10 uppercase">{{ request.user.first_name|first }}</div>
        </button>
        <div id="user-menu" class="absolute right-0 top-10 mt-8 w-48 bg-yellow-100 text-yellow-800 rounded-md shadow-lg py-1 hidden">
            <form method="POST" action="{% url 'sign-out' %}" class="hover:bg-yellow-900/30 rounded w-full">
                {% csrf_token %}
                <button
                class="w-full px-4 py-2 text-sm"
                >
                Logout
                </button>
            </form>
        </div>
    </div>
</nav>

{% comment %} Hidden mobile menu {% endcomment %}
<div id="mobile_menu" class="hidden lg:hidden fixed inset-0 z-50 w-full bg-gray-900 p-6">
    <div class="flex items-center justify-between">
        <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
        <span class="text-4xl font-bold text-yellow-400 capitalize lavishly-yours-regular">Occavue</span>
        </a>
        <button id="close_menu" class="-m-2.5 rounded-md p-2.5 text-gray-200">
        <span class="sr-only">Close menu</span>
        <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
        </svg>
        </button>
    </div>

    <div class="mt-6 space-y-4">
        <a href="{% url 'admin-dashboard' %}" class="block rounded-lg px-3 py-2 text-base font-semibold text-yellow-400 hover:bg-white/5">Dashboard</a>
        <a href="{% url 'events-list' %}" class="block rounded-lg px-3 py-2 text-base font-semibold text-yellow-400 hover:bg-white/5">Events</a>
        <a href="{% url 'category' %}" class="block rounded-lg px-3 py-2 text-base font-semibold text-yellow-400 hover:bg-white/5">Categories</a>
        <a href="{% url 'participants' %}" class="block rounded-lg px-3 py-2 text-base font-semibold text-yellow-400 hover:bg-white/5">Participants</a>
        <a href="{% url 'group-list' %}" class="block rounded-lg px-3 py-2 text-base font-semibold text-yellow-400 hover:bg-white/5">Groups</a>
    </div>
</div>

{% comment %} javascript actions {% endcomment %}
<script>
    const toggle = document.getElementById("menu_toggle");
    const close = document.getElementById("close_menu");
    const menu = document.getElementById("mobile_menu");

    toggle.addEventListener("click", () => {
        menu.classList.remove("hidden");
    });

    close.addEventListener("click", () => {
        menu.classList.add("hidden");
    });

    document
    .getElementById("user-menu-button")
    .addEventListener("click", function () {
        document.getElementById("user-menu").classList.toggle("hidden");
    });

    // Close the dropdown when clicking outside
    window.addEventListener("click", function (e) {
        if (!document.getElementById("user-menu-button").contains(e.target)) {
        document.getElementById("user-menu").classList.add("hidden");
        }
    });
</script>