<div class="relative w-full md:w-1/2 flex flex-row justify-center gap-2 items-center p-4">
    <form method="get" class="flex w-full" action="{{action_url}}">
        <input type="hidden" name="type" value="search">
        <input
            type="text"
            name="keyword"
            placeholder="Enter name or location"
            class="w-full px-3 py-2 text-yellow-700 border-2 border-yellow-700 bg-transparent rounded-l-md focus:outline-none"
            required
        />
        <button
            type="submit"
            class="bg-yellow-500 text-white px-4 py-2 rounded-r-md hover:bg-yellow-600 transition duration-300"
        >
            Search
        </button>
    </form>
</div>